html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 5px;
}

article {
  max-width: 1170px;
}

header, footer {
  padding: 0 10px 5px;
  line-height: 1.5;
  font-size: 16px;
}

header h1 {
  font-weight: normal;
}

header .r {
  color: #dc5147;
}

header .d {
  color: #3579a8;
}

.chart {
  display: inline-block;
  padding: 0 10px 10px 0;
  width: 20%;
}

svg {
  font-size: 10px;
}

.background {
  fill: none;
}

.line path {
  fill: none;
  stroke: #889;
  stroke-width: 1.5px;
}

.line path.r {
  stroke: #dc5147;
}

.line path.d {
  stroke: #3579a8;
}

text.r, circle.r {
  fill: #dc5147;
}

text.d, circle.d {
  fill: #3579a8;
}

.year {
  font-size: 12px;
}

.legend text {
  font-size: 12px;
}

.axis line {
  stroke-width: .5px;
  shape-rendering: crispEdges;
  stroke: #fff;
  opacity: 0.5;
  pointer-events: none;
}

.axis path {
  display: none;
}

@media all and (max-width: 1170px) {

  .chart {
    width: 25%;
  }
}

@media all and (max-width: 940px) {

  .chart {
    width: 33%;
  }
}

@media all and (max-width: 700px) {

  .chart {
    width: 50%;
  }
}

@media all and (max-width: 455px) {

  .chart {
    width: 100%;
  }
}


