html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

.chart {
  display: inline-block;
  padding: 0 5px 5px 0;
}

svg {
  font-size: 10px;
}

.background {
  fill: none;
}

.line {
  fill: none;
  stroke: #889;
  stroke-width: 1.5px;
}

.line.r {
  stroke: #dc5147;
}

.line.d {
  stroke: #3579a8;
}

text.r, circle.r {
  fill: #dc5147;
}

text.d, circle.d {
  fill: #3579a8;
}

.title {
  font-size: 12px;
}

.caption {
  -webkit-filter: drop-shadow( -5px -5px 5px #000 );
  filter: drop-shadow( -5px -5px 5px #000 );
}

.axis line {
  stroke-width: .5px;
  shape-rendering: crispEdges;
  stroke: #fff;
  opacity: 0.5;
  pointer-events: none;
}

.axis path {
  display: none;
}

.hidden {
  display:none;
  opacity: 0.0;
}
